global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend app_servers

backend app_servers
    balance roundrobin
    option httpchk GET /
    http-check expect status 200

    server vm1 10.0.1.11:80 check
    server vm2 10.0.1.12:80 check
